<div>
    <div class="alert alert-info">
        @Title
    </div>
    @if (ChildSomeContent != null)
    {
        <div class="alert alert-info">
            @ChildSomeContent

        </div>
    }
    @if (ChildContent != null)
    {
        <div class="alert alert-info">
            @ChildContent
        </div>
    }
    <button class="btn btn-danger" @onclick="ClickEvent">Click Me to get dynamic content rendered</button>

    <_GrandChildComponent MessageForGrandChild="@MessageFromParentToGrandParent"></_GrandChildComponent>
</div>
@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment ChildSomeContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback ClickEvent { get; set; }

    [Parameter]
    public string MessageFromParentToGrandParent { get; set; }
}
