<div lcass="row">
    <h4 class="text-primary pl-4 pt-2 col-12">GrandChild Component</h4>
    <p> This is a message in GrandChildComponent : @MessageForGrandChildFromParent</p>
    <p>Lucky Number for the GrandChild from Parent is : @LuckyNumberForGrandChild</p>
</div>


@code {

    [CascadingParameter(Name = "NamedParameter1")]
    public string MessageForGrandChildFromParent { get; set; }

    [CascadingParameter(Name = "NamedParameter2")]
    public string LuckyNumberForGrandChild { get; set; }
}
