Practice/LearningBlazor/.vs/LearningBlazor/FileContentIndex/150862f8-0943-4032-afe7-8a68de9a5bfe.vsidx
Practice/LearningBlazor/.vs/LearningBlazor/v17/.suo
Practice/LearningBlazor/.vs/LearningBlazor/v17/DocumentLayout.backup.json
Practice/LearningBlazor/bin/
Practice/LearningBlazor/obj/
