@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>
@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-success">@Message</div>
}
<_ChildComponent ClickEvent="ShowMessage" Title="This title is passed from the ParentComponent"
    MessageFromParentToGrandParent="This message is sent from PARENT to GRANDCHILD Via CHILD Component">
    <ChildSomeContent>
        <div>
            This is from the ChildSomeContent section
        </div>
    </ChildSomeContent>
</_ChildComponent>


@code {
    public string Message = "";

    private void ShowMessage()
    {
        Message = "This message is from Parent component through ShowMessage() on button Click";
    }

}
