@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent ClickEvent="ShowMessage" Title="This title is passed from the ParentComponent">
    <div>
        This content is in Div and passed to Child as the Blazor Fragment which is similar to children in React
    </div>
</_ChildComponent>

<p>@Message</p>


@code {
    public string Message = "";

    private void ShowMessage()
    {
        Message = "This message is from Parent component through ShowMessage() on button Click";
    }

}
