@page "/learnBlazor/parentComponent"

<h3>ParentComponent</h3>

<_ChildComponent ClickEvent="ShowMessage" Title="This title is passed from the ParentComponent">
    <ChildSomeContent>
        <div>
            This is from the ChildSomeContent section
        </div>
    </ChildSomeContent>
    <ChildContent>
        <p>
            This content is in Div and passed to Child as the Blazor Fragment which is similar to children in React
        </p>
        <br />
        <p class="text-primary">some other text</p>
    </ChildContent>
</_ChildComponent>

<div class="alert alert-success">@Message</div>


@code {
    public string Message = "";

    private void ShowMessage()
    {
        Message = "This message is from Parent component through ShowMessage() on button Click";
    }

}
