@page "/learnrouting"
@page "/learnRouting/{Param1:int}"
@page "/learnRouting/{Param1:int}/{Param2}"
@page "/learnBlazor/learnRouting"

<h3>LearnRouting</h3>
@if(@Param1 != 0)
{
    <p>You passed  "@Param1" as the first parameter </P>
}
@if(!string.IsNullOrEmpty(@Param2))
{
    <p>You passed  "@Param2" as the first parameter </P>
}

@code {
    [Parameter]
    public int Param1 { get; set; }

    [Parameter]
    public string Param2 { get; set; } = "";
}
